<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <WindwardReports>
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="license" value="654154fc-903f-4a68-b7a2-0d83442ab183" />
    <!-- <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="license" value="bHtzLjSa8TwnWysGZbDtvj2A7T53uzsdJzqxHO1Zm61kZWW9LXD9j2wyRx98vGk2dpjpPHYSRQQo ZmE0J8o7NWfRYQVz2mkFZaKpP3a7+RU9iWkdJwnbnWaaZYR/y2sdZ4DtBafKOzdmifGMJrvpBGzI s61ngj2NuXVfPS/qNaw8g/WObWv7LOkxRSx9vzk3N8s5P/S4eyd2mOk8d9GBhGfYcQ4nQOc/d68/ NW27Oyw3yzk/9WAfJyh0sTV2+OM9dhChlzbbMQ/326GGd/qztTfKNxdmymW8LworPSeL+YzpMUUs fL7xNydbKwZ0see+PHInPGaZoYxnKje1uXVfPW5J8aw3yj+3bPNtBTyBpYZt6HusJrvxBOkxRSx9 P/k3NRrxpWP5uT0nOvE0ZbHlhz3B84Rn+uOEdkCtF+KPyYRnWsEeZ0srPDXT8x1k6bGkdtipPWWh kY6izrMf9+o5DSc64R09yGmUP1jxP3cIu4xlo/E/dxrhPzXB9wxnWIk+Yp99hnzSpx9/2nkWd+v5 hGWw+R93oj28uXVfPW07+yz1YB8nfSZ5NyfKOzVmEkUFfTaptnf6s7U3yjeXueXXPQ==" /> -->
  </WindwardReports>
  <log4net debug="false">
    <appender xdt:Transform="Insert" name="PluginLogger" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="D:\home\LogFiles\AzurePlugin_RESTfulEngine.log" />
      <param name="AppendToFile" value="true" />
      <param name="MaxSizeRollBackups" value="2" />
      <param name="MaximumFileSize" value="10MB" />
      <param name="RollingStyle" value="Size" />
      <param name="StaticLogFileName" value="true" />
      <layout type="Kailua.net.windward.utils.ExceptionFormatter">
        <param name="Pattern" value="%date [%thread] %level %logger - %message%exception%newline" />
      </layout>
    </appender>

    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <param xdt:Transform="Replace" name="File" value="D:\home\LogFiles\IIS_RESTfulEngine.log" />
    </appender>

    <root>
      <appender-ref xdt:Transform="Insert" ref="PluginLogger" />
    </root>

    <logger xdt:Transform="Insert" name="PluginLogger">
      <level value="ALL" />
    </logger>
  </log4net>
  <appSettings>
    <!-- <add xdt:Transform="Insert" key="filesystemrepository.basefolder" value="D:\home\LogFiles\requests" /> -->
    <add xdt:Transform="Insert" key="max.threads" value="4" />
    <add xdt:Transform="Insert" key="minutes.check.jobs" value="5" />
    <add xdt:Transform="Insert" key="repository" value="..\..\home\site\wwwroot\bin\AzureRepository.dll!AzureRepository.AzureRepositoryPlugin" />
    <add xdt:Transform="Insert" key="job-handler" value="..\..\home\site\wwwroot\bin\AzureRepository.dll!AzureRepository.CustomBackgroundWorkerJobHandler" />
    <add xdt:Transform="Insert" key="AzureRepositoryStorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=maestrobatchstorage;AccountKey=7vk9n+luWDlj4qs6Ts+SstmsHOtkEp/Yi2K7fETFtRyjXRMLuDCQXsTYD1kK/pwAjyBLhN7prm86v0D166OPhw==;EndpointSuffix=core.windows.net" />
    <add xdt:Transform="Insert" key="AzureRepositoryRestJobInfoTable" value="RestJobInfoTable222" />
    <add xdt:Transform="Insert" key="AzureRepositoryTemplateContainer" value="templatecontainer-22-2" />
    <add xdt:Transform="Insert" key="AzureRepositoryDocumentContainer" value="documentcontainer-22-2" />
    <add xdt:Transform="Insert" key="AzureRepositoryDocumentPerformanceContainer" value="documentperformancecontainer-22-2"/>
  </appSettings>
  <system.web>
    <httpRuntime xdt:Transform="Replace" targetFramework="4.5.1" maxRequestLength="2147483647" executionTimeout="180"/>
  </system.web>
  <!-- <runtime> -->
    <!-- <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1"> -->
      <!-- <dependentAssembly xdt:Locator="Condition(_defaultNamespace:assemblyIdentity/@name='System.Threading.Tasks.Extensions')"> -->
        <!-- for some reason 4.2.0.1 isn't available in our app service, so we need to transform to use 4.2.0.0 -->
        <!-- <bindingRedirect xdt:Transform="Replace" oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.0" /> -->
      <!-- </dependentAssembly> -->
    <!-- </assemblyBinding> -->
  <!-- </runtime> -->
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits xdt:Transform="Replace" maxAllowedContentLength="60000000"/>
      </requestFiltering>
    </security>
  </system.webServer>
  <system.data xdt:Transform="Insert">
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data" />
      <add name="Npgsql Provider" invariant="Npgsql" description=".NET Framework Data Provider for PostgreSQL" type="Npgsql.NpgsqlFactory, Npgsql" />
    </DbProviderFactories>
  </system.data>
</configuration>